# Application Settings
DEBUG=False
FLASK_HOST=0.0.0.0
FLASK_PORT=5000

# PostgreSQL Destination
POSTGRES_HOST=postgres-db
POSTGRES_PORT=5432
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=kpidb

# SQL Server Source
MSSQL_HOST=your_mssql_host
MSSQL_USER=your_mssql_user
MSSQL_PASS=your_mssql_password
MSSQL_DB_HRM=hrmbppSQL
MSSQL_DB_IT=itcomputer
